@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url(/Images/cover.jpeg) no-repeat center center fixed;
        font-family: "Press Start 2P", system-ui !important;
        font-weight: 400 !important;
        font-style: normal !important;
}

.nav-link{
    color: rgb(127, 33, 127)!important;
    font-size: 14px !important;
}

.nav-link:hover{
    text-shadow: 1px 1px rgb(26, 101, 61);
}

.card-img-top{
    aspect-ratio: 1/0.9;
    width: auto;
    object-fit: contain;
}

.card{
    width: 200px;
    height: 280px;
    transition: transform 1s;
}


.card:hover{
   transform: scale(1.2);
}

.card-body{
    background: linear-gradient(0deg, rgba(55, 221, 132, 0.4), rgba(163, 48, 173, 0.5));
}

.card-text{
    font-size: 12px !important;
}

.admin{
    margin-right: 0 !important;
}

.admin-btn{
    font-size: 10px !important;
}

.home-btn{
    font-size: 10px !important;
}

.text-product{
    color: white;
    text-shadow: 1px 1px rgb(127, 33, 127);
    font-size: 14px;
}

.image-details{
    aspect-ratio: 1/1.3;
    max-width: 480px;
    object-fit: contain;
    filter: drop-shadow(20px 20px 10px rgb(127, 33, 127));
    border-radius: 3vh;
}

.action-btn{
    background-color:  rgb(127, 33, 127) !important;
    color: white;
    text-shadow: 1px 1px rgb(127, 33, 127);
    border: none !important;
}

.action-btn:hover{
    background-color:  rgb(177, 51, 177) !important;
}

footer{
    font-size: 8px !important ;
}

@media screen and (max-width: 1399px) {
    .image-details {
        max-width: 350px;
    }
  }
